# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

mdb/*.db3
mdb/test.db3
mdb/test.db3.old
mdb/decimal.dll
mdb/exported_test
mdb/import_test

mdb/naprawa_bazy_danych.png

ts_playground.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
