:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  /* line-height: 24px; */
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}
/* 
input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
} */


.button {
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  user-select: none;
  /* padding: 2px; */
}
.button:hover {
  background-color: lightblue;
}

.as_input {
  padding: 0.1em 0.2em;
  font-size: 1em;
}

input,
button{
  /* border-radius: 8px; */
  border: 1px solid gray;
  padding: 0.1em 0.2em;
  font-size: 1em;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  transition: background-color 0.15s;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
}


button, 
input[type="button"] {
  cursor: pointer;
}

button:hover,
input:focus,
input:not([disabled]):hover {
  border-color: #396cd8;
  background-color: #e3f5f1;
}
input[type="button"]:focus{
  background-color: #ffffff;
}
input[disabled] {
  background-color: #e9e9e9;
}

input.nospin::-webkit-outer-spin-button,
input.nospin::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
} */

input,
button {
  outline: none;
}




.FormControl.changed {
  background-color: #fcf5be;
}

.FormControl:invalid {
  color: red;
  border-color: red;
}

.FormControl.null {
  opacity: 50%;
}


/* /////////////////////// FORM  //////////////////////////// */

.form_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_container > .form_content {
  overflow: auto;
  flex-grow: 1;
}

.form_container > .form_scroller {
  flex-shrink: 0;
}

.form_container.disabled > .form_scroller,
.form_container.empty    > .form_content {
  cursor: not-allowed;
  opacity: 15%;
  background-color: #c0c0c0;
  user-select: none;
}
.form_container.disabled > .form_scroller *,
.form_container.empty    > .form_content  * {
  pointer-events: none;
  user-select: none;
  /* visibility: hidden; */ 
}

/* /////////////////////// FORM SCROLLER //////////////////////////// */

.element_with_bottom_scroller {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form_scroller .btn.bound{
	background-image: url("src/assets/icons/arrow_rb.svg");
} 
.form_scroller .btn.step{
	background-image: url("src/assets/icons/arrow_r.svg");
}
.form_scroller .btn.step2{
	background-image: url("src/assets/icons/arrow_r2.svg");
}
.form_scroller .btn.refresh{
	background-image: url("src/assets/icons/refresh.svg");
}
.form_scroller .btn.insert{
	background-image: url("src/assets/icons/plus.svg");
}
.form_scroller .btn.save{
	background-image: url("src/assets/icons/disk.svg");
}

.form_scroller .btn {
	border: none;
	height: 3ch;
	min-width: 3ch;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.2s;
	background-color: transparent;
	background-size: cover;
}
.form_scroller .btn:focus{
	background-color: transparent;
}
.form_scroller .btn.prev {
	scale: -1;
}

.form_scroller .btn.indicate{
  background-color: yellow;
}

.form_scroller .btn:hover {
	background-color: #00ffd538;
}
.form_scroller.insert_mode .btn.insert,
.form_scroller             .btn:active {
	background-color: #0066ff3d;
}

.form_scroller .curr {
	min-width: 3ch;
}

.form_scroller .txt {
	user-select: none;
	color: grey;
	min-width: 0ch;
	overflow: hidden;
}

.form_scroller {
	display: flex;
	flex-wrap: nowrap;
	text-wrap: nowrap;
	background-color: #cacaca;
	border-top: 1px solid black;
	padding: 1px;
}

.form_scroller .spacer {
	flex-grow: 1;
}

.form_scroller.is_error {
	background-color: #ff7171;
	color: black;
}
.form_scroller.is_empty {
	background-color: #cfbebe;
	color: black;
}

/******************** GRID **********************/

.grid{
  display: grid;
  justify-content: start;
  justify-items: stretch;
  align-items:   stretch;
  text-wrap: nowrap;
}

.grid > *[c="2"] { grid-column: span 2; }
.grid > *[c="3"] { grid-column: span 3; }
.grid > *[c="4"] { grid-column: span 4; }
.grid > *[c="5"] { grid-column: span 5; }
.grid > *[c="6"] { grid-column: span 6; }
.grid > *[c="7"] { grid-column: span 7; }
.grid > *[c="8"] { grid-column: span 8; }
.grid > *[c="9"] { grid-column: span 9; }

.grid > *[r="2"] { grid-row:    span 2; }
.grid > *[r="3"] { grid-row:    span 3; }
.grid > *[r="4"] { grid-row:    span 4; }
.grid > *[r="5"] { grid-row:    span 5; }
.grid > *[r="6"] { grid-row:    span 6; }
.grid > *[r="7"] { grid-row:    span 7; }
.grid > *[r="8"] { grid-row:    span 8; }
.grid > *[r="9"] { grid-row:    span 9; }

.grid > .col {grid-row:    1 / -1;}
.grid > .row {grid-column: 1 / -1;}

.flex_auto.col {  flex-direction: column; }
.flex_auto > * { flex-grow: 1; }
.flex_auto > .nogrow {flex-grow: unset;}
.flex_auto {
  display: flex;
}


/*
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
*/



/******************* PRINT **********************/



.over_page {
  box-sizing: border-box;
  margin:       0mm;
  margin-left:  0mm;
  padding:      10mm;
  padding-left: 14mm;
  width:  calc(210mm);
  border: 2px solid black;
  background-color: white;
}

.page {
  box-sizing: border-box;
  /* Portrait: 297mm (height) x 210mm (width) */
  /* padding:      10mm;
  padding-left: 14mm;
  width: 210mm;
  height: 297mm; */


  margin:       0mm;
  margin-left:  0mm;
  padding:      0mm;
  padding-left: 0mm;
  border-width: 0px;
  width:  calc(210mm - 10mm - 14mm);

  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4.2mm;
  
  position: relative;
  /* border: 2px solid black; */
}
.page header {
  break-after: avoid;
}

.page .break{
  break-after: page;
}
.print_fallback_button{
  display: block;
  font-size: 3em;
  width: 100%;
  text-align: center;
}
@media print{
  .print_fallback_button,
  .noprint {
    display: none;
  }
  .over_page {
    padding:      0mm;
    padding-left: 0mm;
    width:  calc(210mm - 10mm - 14mm);
    border: 0px solid black;
  }
}
@page {
  size: A4;
  margin:      10mm;
  margin-left: 14mm;
}
